#content{
	margin-left:20%;
	width: 60%;
	font-size: 20px;
	position:absolute;
	z-index: 1;
}

#content2{
	margin-left:19%;
	width: 62%;
	height: 2000px;
	font-size: 20px;
	background: white;
	position:relative;
	opacity: 0.5;
	z-index: 2;
}

label{
	font-weight: 300;
	font-size: 16px;
}

fieldset{
	border:none;
	font-weight: 700;
}


legend{
	font-size: 18px;
}


#label_header, #btn1{
	font-weight: 500;
	color:white;
	font-size: 18px;

}
#submit, #btn1{
	font-size: 16px;
}
#header, #btn1{
	background: #006598;
}
#btn1{
	border: none;
	float:right;
}
#submit{
	margin-left:40%;
	width:20%;
}

@media screen and (min-width: 900px){
#banner{
	border: 3px solid #006598;
	bottom: 34%;
    right: 34%;
	width:32%;
	height: 32%;
	position:fixed;
	background: white;
	z-index: 3;
}
}

@media screen and (max-width: 900px){

#banner{
	border: 3px solid #006598;
	bottom: 20%;
    right: 20%;
	width:60%;
	height: 60%;
	position:fixed;
	background: white;
	z-index: 3;
}




}